@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background-color: whitesmoke;
  background: rgb(174, 232, 248);
  background: linear-gradient(
    30deg,
    rgba(174, 232, 248, 1) 8%,
    rgba(188, 154, 218, 1) 100%
  );
}

.gradient-bg-transactions {
  background-color: #0f0e13;
  background-image: radial-gradient(
      at 0% 100%,
      hsla(253, 16%, 7%, 1) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsla(225, 39%, 25%, 1) 0, transparent 50%);
}

.blue-glassmorphism {
  background: rgba(255, 255, 255, 0.36);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(6.5px);
}
.blue-glassmorphism input {
  background: white;
  color: #0f0e13;
  font-weight: bold;
}

.blue-glassmorphism input::placeholder {
  font-weight: 300;
}

.eth-card {
  background: rgb(12, 7, 10);
  background: linear-gradient(
    30deg,
    rgba(12, 7, 10, 1) 0%,
    rgba(230, 121, 235, 1) 100%
  );
}

@tailwind base;
@tailwind components;
@tailwind utilities;
